.aboutcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.head {
  text-align: center;
}
.div2{
  display: none;
}

.right {
  border-radius: 30px;
  flex: 3;
  padding: 10px;
}
.right h1{
margin-left: 40%;
  justify-content: center;
  align-items: center;
}
.right p{
  font-size: 17px;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
}
.left img{
  width: 400px;
}

.readmore {
  background: black;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  display: none;
}

.hide {
  display: none;
}
.readmore p{
  color: #b6cc8b;
  padding: 15px;

}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .aboutcontent {
    flex-direction: column; /* Stack elements for mobile */
    text-align: center; /* Center text in mobile view */
  }

  .left {
    order: 2; /* Change the order of the left content */
  }

  .right {
    order: 1; /* Change the order of the right content */
  }
  .div2{
    display: block;
  }

  img {
    max-width: 100%; /* Make sure the image doesn't overflow its container */
  }


  .readmore {
    background: black;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    display: block;
  }
  .readmore p{
    color: #b6cc8b;
    padding: 15px;
  }


  .readmoredisplay ~ .hide {
    display: block;
  }
  .readmore ~ .hide {
    display: none;
  }

  .hide {
    background: black;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;

  }
  .hide p{
    color: #b6cc8b;
    padding: 15px;
  }
.div1{
  display: none;
}
    
  
}
