.aboutcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left {
  border-radius: 30px;
  flex: 3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow to the left side */
  padding: 10px;
}
.left h1{
margin-left: 40%;
  justify-content: center;
  align-items: center;
}
.left p{
  font-size: 17px;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .aboutcontent {
    flex-direction: column; /* Stack elements for mobile */
    text-align: center; /* Center text in mobile view */
  }

  .left {
    order: 2; /* Change the order of the left content */
  }

  .right {
    order: 1; /* Change the order of the right content */
  }

  img {
    max-width: 100%; /* Make sure the image doesn't overflow its container */
  }
}
