@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.aboutcontent {
  display: flex; /* Added */
  flex-direction: row; /* Default: side-by-side for larger screens */
  padding: 10px;
  align-items: left;
}

.aboutcontent h1 {
  font-size: 60px;
}
.left h1{

  margin-left: 72px;
}
.aboutcontent p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.aboutcontent .right {
  padding: 30px;
  flex: 1; /* Added */
}

.aboutcontent .left {
  padding: 8px;
  flex: 1; /* Added */
  font-size: 20px;
}

.aboutcontent .right img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
}

@media screen and (max-width: 960px) {
  .aboutcontent {
    flex-direction: column; /* On mobile, stack elements vertically */
    text-align: center;
    font-size: 12px;
  }
  .aboutcontent h1 {
    font-size: 30px;
padding-left: 30px;
  }
  
  .aboutcontent p {
    font-size: 16px;
    padding: 3px;
    margin-top: 12px;/* Adjust text size for mobile */
  }
  .aboutcontent .right img {
    max-width: 80%; /* Adjust the image width for mobile */
    margin-top: 20px; /* Add some space between text and image */
  }

  .aboutcontent .left,
  .aboutcontent .right {
    padding: 10px;
     /* Adjust padding for mobile */
  }

  .page-icon {
    font-size: 80px;
  }
}
.left{
  font-size: 2px;
}
/* Footer CSS */
.footer__container {
  background-color: #000000;
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.website__rights {
  color: #ffffff;
}